USE [SistemaGestion]
GO
/****** Objeto: Table [dbo].[ChecklistsFisicos] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistsFisicos](
	[InspeccionId] [varchar](50) NOT NULL,
	[ItemIndex] [int] NOT NULL,
	[Aprobado] [bit] NOT NULL,
 CONSTRAINT [PK_ChecklistsFisicos] PRIMARY KEY CLUSTERED 
(
	[InspeccionId] ASC,
	[ItemIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DevolucionesHistorial] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevolucionesHistorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InspeccionId] [varchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Motivo] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EspecificacionesVerificadas] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecificacionesVerificadas](
	[InspeccionId] [varchar](50) NOT NULL,
	[ClaveAtributo] [varchar](100) NOT NULL,
	[Valor] [nvarchar](max) NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EspecificacionesVerificadas] PRIMARY KEY CLUSTERED 
(
	[InspeccionId] ASC,
	[ClaveAtributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evidencias] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencias](
	[Id] [varchar](50) NOT NULL,
	[InspeccionId] [varchar](50) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Tamano] [int] NOT NULL,
	[Etapa] [varchar](100) NOT NULL,
	[RegistradoPor] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Hallazgos] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hallazgos](
	[Id] [varchar](50) NOT NULL,
	[InspeccionId] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Severidad] [varchar](50) NOT NULL,
	[PasoAsociado] [varchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Origen] [varchar](100) NOT NULL,
	[RegistradoPor] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IngresosEquipo] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresosEquipo](
	[Id] [varchar](50) NOT NULL,
	[Folio] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Origen] [varchar](50) NOT NULL,
	[Proveedor] [varchar](200) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[DocumentoReferencia] [varchar](500) NULL,
	[EstadoDocumental] [varchar](50) NOT NULL,
	[TipoEquipo] [varchar](100) NOT NULL,
	[Marca] [varchar](100) NULL,
	[Modelo] [varchar](100) NOT NULL,
	[NumeroParte] [varchar](100) NOT NULL,
	[NumeroSerie] [varchar](100) NOT NULL,
	[EstadoFisico] [varchar](50) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
	[RegistradoPor] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Inspecciones] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspecciones](
	[Id] [varchar](50) NOT NULL,
	[IngresoId] [varchar](50) NOT NULL,
	[Folio] [varchar](100) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[VerificacionTecnicaConfirmada] [bit] NOT NULL,
	[Resultado] [varchar](50) NOT NULL,
	[ComentarioFinal] [nvarchar](max) NULL,
	[Disposicion] [varchar](50) NOT NULL,
	[JustificacionDisposicion] [nvarchar](max) NULL,
	[FechaCierre] [datetime] NULL,
	[CreadoPor] [varchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InspeccionesFisicas] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspeccionesFisicas](
	[InspeccionId] [varchar](50) NOT NULL,
	[CondicionGeneral] [varchar](50) NOT NULL,
	[EmpaqueEstado] [varchar](100) NULL,
	[PlacaIdentificacion] [bit] NOT NULL,
	[AccesoriosFaltantes] [nvarchar](max) NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[InspeccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ValidacionesDocumentacion] Fecha de script: 14/08/2026 18:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidacionesDocumentacion](
	[InspeccionId] [varchar](50) NOT NULL,
	[FichaTecnica] [bit] NOT NULL,
	[Manuales] [bit] NOT NULL,
	[Certificados] [bit] NOT NULL,
	[Etiquetas] [bit] NOT NULL,
	[DocumentoReferencia] [bit] NOT NULL,
	[CoincideMarca] [bit] NOT NULL,
	[CoincideModelo] [bit] NOT NULL,
	[CoincideNumeroParte] [bit] NOT NULL,
	[CoincideNumeroSerie] [bit] NOT NULL,
	[Resultado] [varchar](50) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[InspeccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evidencias] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Hallazgos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[IngresosEquipo] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Inspecciones] ADD  DEFAULT ((0)) FOR [VerificacionTecnicaConfirmada]
GO
ALTER TABLE [dbo].[Inspecciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[InspeccionesFisicas] ADD  DEFAULT ((0)) FOR [PlacaIdentificacion]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [FichaTecnica]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [Manuales]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [Certificados]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [Etiquetas]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [DocumentoReferencia]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [CoincideMarca]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [CoincideModelo]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [CoincideNumeroParte]
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion] ADD  DEFAULT ((0)) FOR [CoincideNumeroSerie]
GO
ALTER TABLE [dbo].[ChecklistsFisicos]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevolucionesHistorial]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecificacionesVerificadas]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hallazgos]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inspecciones]  WITH CHECK ADD FOREIGN KEY([IngresoId])
REFERENCES [dbo].[IngresosEquipo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InspeccionesFisicas]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ValidacionesDocumentacion]  WITH CHECK ADD FOREIGN KEY([InspeccionId])
REFERENCES [dbo].[Inspecciones] ([Id])
ON DELETE CASCADE
GO
